@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(stage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  outline: none;
  border: 2px solid black;
  padding: 10px 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: 0.07s;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 10px;
}

.btn p {
  margin: 2px 0 0;
  color: gold;
  font-size: 0.7rem;
}

.playing {
  border: 2px solid gold;
  transform: scale(1.1);
  box-shadow: 0 0 10px gold;
}